:root {
    --current-value: rgb(253, 209, 63);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background: var(--current-value);
}
span{
    font-weight: 400;
    font-size: 2rem;
    color: #121212;
}
button{
    font-size: .8rem;
    font-weight: 600;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    width: 20rem;
    border-radius: .2rem;
    margin-top: 3rem;
    background: #121212;
    user-select: none;
    transition: transform .2s;
}
button:hover {
    cursor: pointer;
    transform: translateY(-.3rem);
}