*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
:root{
  --current-value: rgb(38,142, 222)
}
body{
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--current-value);
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}